* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1a1a2e; /* Dark background */
  text-align: center;
  font-family: Arial, sans-serif;
  color: #eaeaea;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2vmin; /* increased gap */
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  background-color: #e94560; /* vibrant background */
  color: #ffffff; /* white text by default */
  transition: background-color 0.3s; /* smooth color transition */
}

.box.o {
  background-color: #3fc1c9; /* color for 'O' */
}

.box.x {
  background-color: #fc5185; /* color for 'X' */
}

#reset-btn,
#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #0f4c75;
  color: #eaeaea;
  border-radius: 1rem;
  border: none;
  margin: 1rem;
  cursor: pointer; /* pointer cursor */
  transition: background-color 0.3s; /* smooth background color transition */
}

#reset-btn:hover,
#new-btn:hover {
  background-color: #3282b8; /* lighter background on hover */
}

#msg {
  color: #eaeaea;
  font-size: 5vmin;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hide {
  display: none;
}
